html{
    font-size: 18px;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100svh;
}

header{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    text-align: center;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

header p{
    font-size: 0.9rem;
    opacity: 0.6;
    margin:0 2.7rem
}

h1{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.7;
    margin: 1.5rem;
}

div{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div p:first-child {
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    opacity: 1;
}

div span{
    font-size: 0.9rem;
    opacity:0.5;
}

body, p, h2, ul{
    margin: 0;
}

header h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

main{
    margin: 0 1.5rem;
}

main h2{
    color:hsl(224, 30%, 27%);
    font-size: 1rem;
    margin: 1.5rem 0;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;
    padding: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

li p{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

li span{
    color: hsl(241, 100%, 89%);
}

strong{
    color: hsl(224, 30%, 27%);
}

.reaction p{
    color:  hsl(0, 100%, 67%);
}

.memory p{
    color:  hsl(39, 100%, 56%);
}

.verbal p{
    color: hsl(166, 100%, 37%);
}

.visual p{
    color: hsl(234, 85%, 45%);
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.1);
    margin-bottom: 0.9rem;
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.1);
    margin-bottom: 0.9rem;
}

.verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
    margin-bottom: 0.9rem;
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.1);
}

button{
    min-width: 100%;
    padding: 0.9rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    background-color: hsl(224, 30%, 27%);
    border-radius: 1.5rem;
    margin: 1.5rem 0;
}

button:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (min-width: 768px) and (max-width: 1440px){

    body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }  
    
    header, main{
        width: 21rem;
        height: 28.5rem;
        border-radius: 1.5rem;
    }

    header{
        box-sizing: border-box;
        padding: 1rem;
    }

    main{
        margin: 0;
        box-shadow: 25px 30px 63px -19px hsla(224, 30%, 27%, 0.262);
        padding: 1.5rem;
        box-sizing: border-box;
    }

    main h2{
        font-size: 1.5rem;
    }

    h1{
        font-size: 1.2rem;
    }

    header div{
        width: 11rem;
        height: 11rem;
    }

    header h2{
        font-size: 1.7rem;
        margin-top: 1.5rem;
        margin-bottom: 0.9rem;;
    }

    div p:first-child{
        font-size: 4rem;
        color: white;
    }

    header p{
        font-size: 1rem;
        word-spacing: 0.1rem;
    }

    header div span{
        font-size: 1rem;
    }

    button{
        margin-top: 2.2rem ;
    }
}